.modal-create-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  padding: 1.6rem;
  background-color: #e8e8e8;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }

  input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    box-sizing: border-box;
    margin-bottom: 1.6rem;
    border-radius: 8px;
    border: none;
  }

  button {
    width: 100%;
    padding: 0.4rem 0rem;
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
  }

  button:hover {
    background-color: #707070;
  }
}
