.modal__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.modal__date {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  color: #666;
}

.modal__reason {
  font-size: 1rem;
}

