.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../assets/images/home-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;

  .about__avatar {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
  }

  .about__social {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.4rem;
    img {
      height: 2rem;
      filter: invert(1);
    }
  }

  .about__title {
    font-size: 2.4rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
  }

  .about__text {
    font-size: 1.2rem;
    color: var(--primary-color);
    text-align: center;
    line-height: 140%;
  }
}