.reasons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6rem 1.6rem;
  min-height: 100vh;
  width: 100vw;
  background-image: url('../assets/images/reason-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;

  .reasons__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1.6rem;

    .reasons__create-btn {
      background-color: #fff;
      border-radius: 1.6rem;
      padding: 0.8rem 1.6rem;
      font-size: 1.6rem;
      font-weight: 700;
      cursor: pointer;
      mix-blend-mode: difference;
    }
  }
}

.reasons__title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.reasons__list {
  display: flex;
  align-items: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.6rem;
  width: 100%;
  padding: 1.6rem;

  .reasons__item-logo {
    width: 60%;
    height: 60%;
    transition: transform 0.3s ease-in-out;
  }
}

.reasons__empty {
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
}

details {
  background-color: #edededae;
  color: #000;
  width: 100%;
  padding: 0 !important;
  font-size: 1.2rem !important;
  border-radius: 0.8rem !important;
  &:has(summary:focus) {
    outline: 3px solid cadetblue;
    outline-offset: 3px;
  }

  summary {
    padding: 1.2rem;
  }

  div {
    padding: 1rem;
    line-height: 140%;

    h3 {
      padding-bottom: 1rem;
    }
  }
}

::details-content {
  transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete;
  height: 0;
  overflow: clip;
}

/* Browser supports interpolate-size */
@supports (interpolate-size: allow-keywords) {
  :root {
      interpolate-size: allow-keywords;
  }

  [open]::details-content {
      height: auto;
  }
}

/* Fallback for browsers with no interpolate-size support */
@supports not (interpolate-size: allow-keywords) {
  [open]::details-content {
      height: 150px;
      overflow-y: scroll; /* In case the contents should be taller than 150px */
  }
}